#givehelp-title-container {
  width: 100%;
  height: 100%;
  background: #378e70;
}

.article {
  border-radius: 20px !important;
}

.card-button {
  color: #378e70 !important;
}

#givehelp-title {
  color: white;
  font-size: 34px;
  font-family: "Maragsa";
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.04em;
  padding-top: 96px;
}

.givehelp-description {
  color: white;
  font-family: "graphik";
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-align: center;
}

.givehelp-description:first-of-type {
  margin-top: 16px;
}

.givehelp-header {
  font-size: 28px;
  color: #378e70;
  font-family: "graphik";
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  padding: 36px 0px 10px 5%;
}

.givehelp-prompt {
  color: white;
  font-family: "graphik";
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin-bottom: 0;
}

.givehelp-prompt-disease {
  font-weight: 600;
  text-decoration: underline;
}

#marquee {
  margin: 32px 0;
}

.marquee-image {
  height: 200px;
  margin-right: 50px;
}

.givehelp-searchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 8px;
  padding-bottom: 96px;
}

.givehelp-search-button {
  height: 54px;
}

.givehelp-who-placeholder {
  margin-top: 32px;
}

/*Remaining content*/
.givehelp-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

#givehelp-who-container {
  padding: 36px 0px 64px 0px;
}

#givehelp-who-articles {
  width: 90%;
}

#givehelp-tweets-container {
  background-color: #f8f5ee;
  padding: 64px 0px;
}

#givehelp-charities-container {
  padding: 64px 0px 128px 0px;
  position: relative;
}

.background-img1 {
  z-index: -999;
  top: 0;
  width: 100%;
  overflow: hidden;
  left: 0;
}

#givehelp-charities-container .background-img2 {
  z-index: -999;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

#givehelp-charities {
  padding: 5%;
}