.frontPageButtonImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.frontPageButton {
  border: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: 1s ease;
  width: 56px;
  padding-left: 24px;
}

a:link {
  text-decoration: none !important;
}

.frontPageButtonLink {
  text-decoration: none !important;
}

.frontPageButton {
  height: 100px;
  width: 250px;
  border: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30%;
}

.button-text {
  font-family: "Maragsa";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 138.96%;
  text-decoration: none;
  /* or 42px */
  letter-spacing: 0.065em;
  text-align: center;
  width: 80%;
}

.giveHelpButton {
  background: #a5c3ff;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  border-radius: 88px;
}

.getHelpButton {
  border: 4px solid #a5c3ff;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.25));
  border-radius: 93px;
}

.frontPageButton::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.frontPageButton:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
  transition-duration: 0.5s;
}
