img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  padding: 3px;
  background-color: green;
}

#twitter-carousel {
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#twitter-carousel #carousel-container {
    width: 50%;
}

#twitter-carousel #tweet-text {
    width: 50%;
}

.react-3d-carousel .slider-container .slider-right div,
.react-3d-carousel .slider-container .slider-left div {
  border: none;
  color: green;
}
