#header-container {
    background: #F8F5EE;
    display: flex;
    width: 100%;
    justify-content: center;
}

#header-link {
    text-decoration: none;
    max-width: 1240px;
    width: 100%;
    display: flex;
    cursor: default;
}

#header-image {
    line-height: 30px;
    padding: 15px 50px;
    cursor: pointer;
}